name: Tests

on:
  push:
  pull_request:

jobs:
  bun-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: bun install
      - name: Run typecheck
        run: bun run typecheck
      - name: Run tests with coverage
        run: bun run test:coverage:lcov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./coverage/lcov.info
          fail_ci_if_error: false
          verbose: true
